<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', { title: 'Registered books'}) %>
    <body>
        <%- include('partials/navbar.ejs') %>
        
        <% if (books.length) { %>
            <table>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Release date</th>
                    <th>Summary</th>
                    <th>Number of copies</th>
                    <th>Cover</th>
                </tr>
                <% books.forEach((book) => { %>
                    <tr>
                        <td><%= book._id %></td>
                        <td><%= book.title %></td>
                        <td><%= book.author %></td>
                        <td><%= book.releasedate %></td>
                        <td><%= book.summary %></td>
                        <td><%= book.copies %></td>
                        <td>
                            <img src="/<%= book.imageName %>" alt="<%= book.imageName %>" height="100">
                        </td>
                    </tr>
                <% }); %>
            </table>
        <% } else { %>
            <p>No books to show</p>
        <% } %>
    </body>
</html>