<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', { title: 'Return a book'}) %>
    <body>
        <% if (books.length === 0) { %>
            <p>There are no books registered.</p>
        <% } else if (users.length === 0) { %>
            <p>There are no users who rented out a book.</p>
        <% } else { %>
            <form action="/books/return" method="POST" id="return-book">
                <p>ISBN: <select id="isbn" name="isbn" required>
                    <% books.forEach((book) => { %>
                        <option value="<%= book[0] %>"><%= book[0]%></option>
                    <% }); %>
                    </select>
                </p>
                <p>User name: <select id="username" name="username" required>
                    <% users.forEach((user) => { %>
                        <option value="<%= user[0] %>"><%= user[0] %></option>
                    <% }); %>
                    </select>
                </p>
                <p><input type="submit" value="Return"/></p>
            </form>
        <% } %>
    </body>
</html>