<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs', { title: 'Sign in'}) %>
    <body>
        <%- include('partials/navbar.ejs') %>

        <% if (typeof error != 'undefined') { %>
            <p class="red">An error occured at signing out: <%= error %></p>
        <% } %>
        <% if (typeof success != 'undefined') { %>
            <p class="green">User <%= success.username %> signed out succesfully</p>
        <% } %>
        <form action="/users/sign-out" method="POST" enctype="multipart/form-data" id="sign-out">
            <p>User name: <select id="username" name="username" required>
                <% users.forEach((user) => { %>
                    <option value="<%= user._id %>"><%= user._id %></option>
                <% }); %>
                </select>
            </p>
            <p><input type="submit" value="Sign out"/></p>
        </form>
    </body>
</html>